.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  color: white;
  z-index: 1000;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navbar li {
  cursor: pointer;
  transition: 0.3s;
}

.navbar li:hover {
  color: #00eaff;
}

.navbar li:hover {
  color: #00eaff;
  text-shadow: 0 0 10px #00eaff, 0 0 20px #00eaff;
  transform: scale(1.07);
}
